<div class="card">
  <p-table [value]="currencies" selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th>Nazwa waluty</th>
        <th>Kod</th>
        <th>Kupno</th>
        <th>Sprzedaż</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currency>
      <tr (dblclick)="currencyDetails(currency)">
        <td>{{currency.toCurrency.name}}</td>
        <td>{{currency.toCurrency.symbol}}</td>
        <td>5,64</td>
        <td>5,51</td>
      </tr>
    </ng-template>
  </p-table>
</div>
