<p-dialog header="Currency Exchange" [(visible)]="display" [modal]="true" [closable]="false" [resizable]="false" [responsive]="true">
    <div class="p-fluid">
        <div class="p-field-texts">
            <div class="p-field">
                <label for="currencyFrom">From</label>
                <input id="currencyFrom" type="text" pInputText [(ngModel)]="currencyFrom">
            </div>
            <div class="p-field">
                <label for="currencyTo">To</label>
                <input id="currencyTo" type="text" pInputText [(ngModel)]="currencyTo">
            </div>
        </div>
      <div class="p-field-buttons">
          <button  pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-secondary dialog-button" (click)="hideDialog()"></button>
        <button pButton type="button" label="Exchange" icon="pi pi-check" class="dialog-button" (click)="exchangeCurrency()"></button>
      </div>
    </div>
  </p-dialog>
  