<p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
        <img id="logo" src="\assets\logo.png" routerLink="" alt="Logo" class="logo">
    </ng-template>
    <ng-template pTemplate="end">
        <p-button class="button" label="Zaloguj" routerLink="/login" icon="pi pi-sign-in" iconPos="right"></p-button>
        <p-button class="button" label="Zarejestruj" routerLink="/register" severity="secondary" icon="pi pi-user-edit" iconPos="right"></p-button>
    </ng-template>
</p-menubar>

